<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/SplashTheme">

        <activity
                android:name=".Classes.GameCenter.GameChooserFragment"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".Classes.Games.G2048.Main"
                android:exported="true">

        </activity>

        <activity
                android:name=".Classes.Games.GPegSolitaire.PegMain"
                android:exported="true">

        </activity>

        <activity
                android:name=".Classes.Games.GPegSolitaire.PegChooser"
                android:exported="true">

        </activity>

        <activity
                android:name=".Classes.GameCenter.SplashScreen"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
                android:name=".Classes.GameCenter.Main"
                android:exported="true" />

    </application>
</manifest>